<div class="container" id="show">

<h1><%= workspace.name %></h1>
<img class="image" src="<%= workspace.image %>" alt="<%= workspace.name %>'s image">

<p><%= workspace.description %></p>


<a href="<%= workspace.website %>"><%= workspace.website %></a> <br> <br>

<a class="btn btn-primary" href="/workspaces/<%= workspace._id %>/edit" role="button">Edit</a>


<form method="post" action="/workspaces/<%= workspace.id %>">
  <input type="hidden" name="_method" value="delete">
  <button type="button " class="btn btn-primary">Delete</button>
</form>
</div>
