<h1><%= workspace.name %></h1>
<%= workspace %>
<a href="/workspaces/<%= workspace._id %>/edit">Edit</a>
<img src="<%= workspace.image %>" alt="<%= workspace.name %>'s image">
<p><%= workspace.description %></p>
<form method="post" action="/workspaces/<%= workspace.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
<a href="<%= workspace.website %>"><%= workspace.website %></a>
</form>
